<!--
Mo Chowdhury
D3Tech.io
-->
<!DOCTYPE html>
<html lang="en">
      <%- include('../assets/partials/head') %>
   <body>
         <%- include('../assets/partials/nav') %>
      <div class="container">
         <div class="table-responsive">
         <table class="table">
            <tr>
              <th>
                Acronym
              </th>
              <th>
                Description
              </th>
            </tr>
            <% results.forEach((results) => { %>
            <tr>
              <td>
                <a href="./description/<%= results.acronym_name %>"><%= results.acronym_name %></a>
              </td>
              <td>
                <%= results.acronym_description %>
              </td>
            </tr>
            <% }) %>
         </table>
       </div>
      </div>
      <!-- Bootstrap core JavaScript
         ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
      <%- include('../assets/partials/scripts') %>
   </body>
</html>
